.table {
    max-width: 100%;
    margin: 20px;
    border: 1px solid #CECECE;
    border-collapse: collapse;
    font-family: "Calibri Light", serif;
    text-align: left;
    font-size: 23px;
    font-weight: 600;
}

.table tr:nth-child(odd) {
    background-color: #EDEEEE;
}

.table th,.table td{
    padding: 12px 8px;
}

.table th {
    background: #3598DB;
    color: white;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    text-align: left;
}

.table_first_name, .table_last_name{
    width: 175px;
}

.table_job_title{
    width: 300px;
}

.table_twitter{
    width: 200px;
}